@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Issue";
//    List<int> issueNums = TempStorage.ProjectStorage[Model].ProjectIssues;
//    var issuesList = issueNums.Where(k => TempStorage.IssueStorage.ContainsKey(k))
//    .Select(k => TempStorage.IssueStorage[k])
//    .ToList();
}
@model List<IssueModel>
<div class="text-center">

    <h1 class="display-1">Delete an issue For Project "@ViewBag.ProjectName".</h1>
</div>
<div>
    @using (Html.BeginForm("IssueToDelete", "Issue", FormMethod.Post, new { @class = "col-md-7 col-lg-8" }))
    {
        <ol class="list-group">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li class="list-group-item">
                    Issue ID:   @Model[i].Id
                    <ul class="list-group">
                        <li class="list-group-item">
                            Issue Name: @Model[i].Name
                        </li>
                        <li class="list-group-item">
                            Issue Description: @Model[i].Description
                        </li>
                    </ul>
                    @{
                        var val = ViewBag.CurrentProj.ToString() + "," + Model[i].Id.ToString();
                    }
                    <button type="submit" class="btn btn-danger" name="issueProjId" value=@val>Delete</button>
                </li>

            }
        </ol>
        
    }
</div>
